body {
    display: flex;
    justify-content: center;
    background-color: rgb(160, 194, 185);
}

.calculator-background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(66, 66, 66);
    padding: 25px 20px 25px 20px;
    border-radius: 25px;
}

.calculator-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
    width: 350px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 340px;
    height: 80px;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.current-number {
    text-align: right;
    font-size: 48px;
    width: 330px;
    background-color: transparent;
    border: none;
    color: black;
}

.stored-number {
    text-align: left;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: black;
}

button {
    width: 21%;
    height: 55px;
    margin-bottom: 15px;
    font-size: 32px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

button:hover {
    transform: scale(1.04);
}

.operator {
    background-color: rgb(162, 201, 201);
}

.equals {
    width: 100%;
    background-color: rgb(152, 192, 192);
    margin: 7px 0px 7px 0px;
}

.equals:hover {
    transform: scale(1.02);
}

.clear {
    background-color: rgb(221, 169, 106);
}

/* javascript class */
button.active {
    font-weight: bold;
    transform: translateY(2px); 
    box-shadow: none;
}