body {
    display: flex;
    justify-content: center;
    background-color: #5F6368;
}

.calculator-background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(54, 54, 54);
    padding: 10px;
    border-radius: 10px;
}

.calculator-buttons {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.display {
    width: 340px;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: right;
    font-size: 3em;
}

.row-1,
.row-2,
.row-3,
.row-4 {
    display: flex;
    height: 75px;
    justify-content: space-around;
    gap: 5px;
}

button {
    width: 25%;
    height: 70px;
    font-size: 2em;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
}

.operator {
    background-color: rgb(162, 201, 201);
}

.equals {
    width: 100%;
    background-color: rgb(162, 201, 201);
}

.clear {
    background-color: rgb(204, 210, 211);
}

.active {
    font-weight: bold;
    box-shadow: -5px -5px -10px rgba(0, 0, 0, 0.3);
    transform: scale(0.96);
}